h1,
h2,
h6,
.text-btn {
  font-family: "Alegreya", serif;
  font-style: normal;
}

p,
.nav-link,
.card-ttl,
.form-label,
.f-input {
  font-family: "Alegreya Sans", serif;
}

.nav-item .active {
  background: #2196f3 !important;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5), 0 0 15px rgba(33, 150, 243, 0.3) !important;
}
